
.vs/PO-DEMLURB/v16/.suo
.vs/PO-DEMLURB/v16/Browse.VC.db
/.vs
/Trabalho-PO/.vs
/Trabalho-PO/Debug
/Trabalho-PO/x64
.vs/PO-DEMLURB/v16/.suo
.vs/PO-DEMLURB/v16/.suo
.vs/PO-DEMLURB/v16/Browse.VC.db
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
Trabalho-PO/.vs/Trabalho-PO/v16/Browse.VC.db
